<div class="svg-wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M-1.97,18.25 C149.99,150.00 349.20,-49.98 501.41,38.97 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #212529;"></path>
    </svg></div>
<div class="container-fluid bg-dark">
    <footer class="container py-5" style="color: aliceblue;" id="contacto">
        <div class="row">
            <div class="col-4">
                <h5 class="titulo-footer text-center">Acerca de nosotros</h5>
                <ul class="list-unstyled text-small">
                    <div class="row mt-5 text-center">
                        <div class="col-4">
                            <a class="icon-footer" href="https://www.facebook.com/"><img class="img-footer" src="../../../assets/images/facebook_30px.png" alt="Facebook"></a>
                        </div>
                        <div class="col-4">
                            <a class="icon-footer" href="https://www.instagram.com/_abcdelbebe_/"><img class="img-footer" src="../../../assets/images/instagram_24px.png" alt="Instagram"></a>
                        </div>
                        <div class="col-4">
                            <a class="icon-footer" href="#"><img class="img-footer" src="../../../assets/images/whatsapp_30px.png" alt="Whatsapp"></a>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-4">
                <h5 class="titulo-footer">Enlaces rápidos</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" style="text-decoration: none;" href="#">Preguntas frecuentes</a>
                    </li>
                    <li><a class="link-secondary" style="text-decoration: none;" href="#">Políticas de
                            privacidad</a></li>
                    <li><a class="link-secondary" style="text-decoration: none;" href="#">Ayuda</a></li>
                    <li><a class="link-secondary" style="text-decoration: none;" href="#">Términos y condiciones</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h5 class="titulo-footer">Contacto</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" style="text-decoration: none;" href="https://www.google.com/maps/place/Armenia,+Quind%C3%ADo/@4.5423562,-75.7155693,13z/data=!3m1!4b1!4m5!3m4!1s0x8e38f5ade6653bc1:0xc2c6ca4ab95d8808!8m2!3d4.5350004!4d-75.6756888?hl=es">Armenia,
                            Quindío, Colombia</a></li>
                    <li><a class="link-secondary" style="text-decoration: none;" href="#">Teléfono: +57
                            3137818964</a></li>
                    <li><a class="link-secondary" style="text-decoration: none;" href="#">E-mail:
                            abcdelbebe9@gmail.com</a></li>
                    <li><a class="link-secondary" style="text-decoration: none;" href="https://www.google.com/maps/place/Barrio+Arcoiris/@4.5304955,-75.7012487,16z/data=!4m18!1m12!4m11!1m3!2m2!1d-75.6981159!2d4.5291158!1m6!1m2!1s0x8e38f5fb411f0ee9:0x42668d64ec85152b!2sBarrio+Arcoiris,+Arco+Iris,+Armenia,+Quind%C3%ADo!2m2!1d-75.6978576!2d4.5277476!3m4!1s0x8e38f5fb411f0ee9:0x42668d64ec85152b!8m2!3d4.5277476!4d-75.6978576?hl=es">Dirección:
                            Mza E # 1 barrio Arco Iris</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">

        </div>
    </footer>
</div>