<div class="container">
    <h1 class="title">Estadisticas de ventas Mensuales</h1>
    <div class="row">
        <div class="col-6">
            <div style="display: block;">
                <canvas baseChart width="20%" [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="col-6">
            <div class="container-fluid mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of listaVentas">
                            <td>{{venta.id}}</td>
                            <td>{{venta.estado}}</td>
                            <td>{{venta.id_producto}}</td>
                            <td>{{venta.fechaCompra}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="btn" (click)="volver();">volver</button>
    </div>
</div>