<div class="row">
    <div class="col-6">
        <div class="img-login">
            <img class="rounded mx-auto d-block img-fluid" src="../../../assets/images/right-img.jpeg" alt="">
        </div>
    </div>
    <div class="col-6">
        <div class="m-5">
            <div class="left text-center">
                <h2 class="title">Cambiar Contraseña</h2>
            </div>
            <form (ngSubmit)="onChangePassword()" #formTemplate="ngForm">
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
                    <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                    <div class="d-grid gap-2 ">
                        <button type="submit" class="btn">Cambiar contraseña</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>