<section class="cards-contenedor p-1" id="nosotros">
    <h2 class="titulo">Acerca de nuestra empresa</h2>
    <div class="content-cards">
        <div class="card m-2">
            <i class="fas fa-spa card-img-top"></i>
            <div class="card-body">
                <h3 class="card-title">Misión</h3>
                <p class="card-text">Cumplir con las necesidades del cliente y sus familias con productos para el cuidado de los bebés y niños.</p>
            </div>
        </div>
        <div class="card m-2">
            <i class="fas fa-vr-cardboard"></i>
            <div class="card-body">
                <h3 class="card-title">Visión</h3>
                <p class="card-text">Ayudar a las familias con productos de calidad para el cuidado de sus bebés y niños.</p>
            </div>
        </div>
        <div class="card m-2">
            <i class="fas fa-bullseye"></i>
            <div class="card-body">
                <h3 class="card-title">Valores</h3>
                <p class="card-text">Buena atención al público, amabilidad, transparencia, confianza, pasión, honestidad.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="wave-contenedor website mt-2" id="info">
    <img src="../../../assets/images/undraw_baby_ja7a.svg" alt="">
    <div class="contenedor-textos-main">
        <h2 class="titulo left">¿Por qué deberías escogernos?</h2>
        <h6>
            Nos preocupamos por la calidad y suavidad de los productos de higiene y vestimenta para tu bebé, niño y niña.
        </h6>
        <a href="productos.html" class="cta1">Ver productos</a>
    </div>
</section>
<section class="video">
    <h2 class="titulo">Canciones para tu bebé</h2>
    <div class="video-div">
        <iframe class="video-i" src="https://www.youtube.com/embed/ZZI7SvSWw4U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>